<!-- header begin -->
<header class="{% if page.header-class %} {{page.header-class}}{% endif %}">
    <div class="info">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="col">Working Hours Monday - Friday <span class="id-color"><strong>08:00-18:00</strong></span></div>
                    <div class="col">Call <span class="id-color"><strong>233.244.379952</strong></span></div>
                    <!-- social icons -->
                    <div class="col social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-rss"></i></a>
                        <a href="#"><i class="fa fa-google-plus"></i></a>
                        <a href="#"><i class="fa fa-envelope-o"></i></a>
                    </div>
                    <!-- social icons close -->
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!-- logo begin -->
                <div id="logo">
                    <a href="{{site.url}}/">
                        <img class="logo" src="{{site.url}}/assets/images/logo.png" alt="">
                    </a>
                </div>
                <!-- logo close -->

                <!-- small button begin -->
                <span id="menu-btn"></span>
                <!-- small button close -->

                <!-- mainmenu begin -->
                <nav>
                    <ul id="mainmenu">
                        <li><a href="{{site.url}}/">Home</a></li>
                        <li><a href="{{site.url}}/projects/">Projects</a></li>
                        <li><a href="{{site.url}}/services/">Services</a>
                            <ul>
                                <li><a href="{{site.url}}/services/furnishing/">Furnishing</a></li>
                                <li><a href="{{site.url}}/services/construction/">Construction</a></li>
                                <li><a href="{{site.url}}/services/flooring/">Flooring</a></li>
                                <li><a href="{{site.url}}/services/furniture/">Furniture</a></li>
                                <li><a href="{{site.url}}/services/wall-decor/">Wall Decor</a></li>
                                <li><a href="{{site.url}}/services/energy-ac/">Solar AC</a></li>
                            </ul>
                        </li>
                        <li><a href="{{site.url}}/about/">About Us</a></li>
                        <li><a href="{{site.url}}/blog/">Blog</a></li>
                        <li><a href="{{site.url}}/contact/">Contact</a></li>
                    </ul>
                </nav>
            </div>
            <!-- mainmenu close -->

        </div>
    </div>
</header>
<!-- header close -->