    <section id="section-slider" class="fullwidthbanner-container" aria-label="section-slider">
        <div id="revolution-slider">
            <ul>
                <li data-transition="fade" data-slotamount="10" data-masterspeed="200" data-thumb="">
                    <!--  BACKGROUND IMAGE -->
                    <img src="{{site.url}}/assets/images/slider/wide5.jpg" alt="" />
                    <div class="tp-caption big-white sft"
                        data-x="0"
                        data-y="160"
                        data-speed="800"
                        data-start="400"
                        data-easing="easeInOutExpo"
                        data-endspeed="450">
                        Where pespective meet excellence,
                    </div>

                    <div class="tp-caption ultra-big-white customin customout start"
                        data-x="0"
                        data-y="center"
                        data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:2;scaleY:2;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                        data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.85;scaleY:0.85;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                        data-speed="800"
                        data-start="400"
                        data-easing="easeInOutExpo"
                        data-endspeed="400">
                        Runbelows
                    </div>

                    <div class="tp-caption sfb"
                        data-x="0"
                        data-y="335"
                        data-speed="400"
                        data-start="800"
                        data-easing="easeInOutExpo">
                        <a href="{{site.url}}/about/" class="btn-slider">About Us
                        </a>
                    </div>
                </li>

                <li data-transition="fade" data-slotamount="10" data-masterspeed="200" data-thumb="">
                    <!--  BACKGROUND IMAGE -->
                    <img src="{{site.url}}/assets/images/slider/wide2.jpg" alt="" />
                    <div class="tp-caption big-white sft"
                        data-x="0"
                        data-y="160"
                        data-speed="800"
                        data-start="400"
                        data-easing="easeInOutExpo"
                        data-endspeed="450">
                        Looking for exclusive service
                    </div>

                    <div class="tp-caption ultra-big-white customin customout start"
                        data-x="0"
                        data-y="center"
                        data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:2;scaleY:2;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                        data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.85;scaleY:0.85;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                        data-speed="800"
                        data-start="400"
                        data-easing="easeInOutExpo"
                        data-endspeed="400">
                        Best Wall Decor &amp; Flooring
                    </div>

                    <div class="tp-caption sfb"
                        data-x="0"
                        data-y="335"
                        data-speed="400"
                        data-start="800"
                        data-easing="easeInOutExpo">
                        <a href="{{site.url}}/services/" class="btn-slider">Our Services
                        </a>
                    </div>
                </li>

                <li data-transition="fade" data-slotamount="10" data-masterspeed="200" data-thumb="">
                    <!--  BACKGROUND IMAGE -->
                    <img src="{{site.url}}/assets/images/slider/wide3.jpg" alt="" />
                    <div class="tp-caption big-white sft"
                        data-x="0"
                        data-y="160"
                        data-speed="800"
                        data-start="400"
                        data-easing="easeInOutExpo"
                        data-endspeed="450">
                        Feel at Home in our Elegant
                    </div>

                    <div class="tp-caption ultra-big-white customin customout start"
                        data-x="0"
                        data-y="center"
                        data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:2;scaleY:2;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                        data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.85;scaleY:0.85;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                        data-speed="800"
                        data-start="400"
                        data-easing="easeInOutExpo"
                        data-endspeed="400">
                        Furnishing &amp; Household Linen
                    </div>

                    <div class="tp-caption sfb"
                        data-x="0"
                        data-y="335"
                        data-speed="400"
                        data-start="800"
                        data-easing="easeInOutExpo">
                        <a href="{{site.url}}/contact/" class="btn-slider">Talk to Us
                        </a>
                    </div>
                </li>

               <li data-transition="fade" data-slotamount="10" data-masterspeed="200" data-thumb="">
                    <!--  BACKGROUND IMAGE -->
                    <img src="{{site.url}}/assets/images/slider/wide4.jpg" alt="" />
                    <div class="tp-caption big-white sft"
                        data-x="0"
                        data-y="160"
                        data-speed="800"
                        data-start="400"
                        data-easing="easeInOutExpo"
                        data-endspeed="450">
                        Excellent Construction and Remodelling for
                    </div>

                    <div class="tp-caption ultra-big-white customin customout start"
                        data-x="0"
                        data-y="center"
                        data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:2;scaleY:2;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                        data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.85;scaleY:0.85;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                        data-speed="800"
                        data-start="400"
                        data-easing="easeInOutExpo"
                        data-endspeed="400">
                        Residenses &amp; Offices
                    </div>

                    <div class="tp-caption sfb"
                        data-x="0"
                        data-y="335"
                        data-speed="400"
                        data-start="800"
                        data-easing="easeInOutExpo">
                        <a href="{{site.url}}/services/" class="btn-slider">Our Services
                        </a>
                    </div>
                </li>
                
                <li data-transition="fade" data-slotamount="10" data-masterspeed="200" data-thumb="">
                    <!--  BACKGROUND IMAGE -->
                    <img src="{{site.url}}/assets/images/slider/wide1.jpg" alt="" />
                    <div class="tp-caption big-white sft"
                        data-x="0"
                        data-y="160"
                        data-speed="800"
                        data-start="400"
                        data-easing="easeInOutExpo"
                        data-endspeed="450">
                        Our Expertise For
                    </div>

                    <div class="tp-caption ultra-big-white customin customout start"
                        data-x="0"
                        data-y="center"
                        data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:2;scaleY:2;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                        data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.85;scaleY:0.85;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                        data-speed="800"
                        data-start="400"
                        data-easing="easeInOutExpo"
                        data-endspeed="400">
                        Interior Design
                    </div>

                    <div class="tp-caption sfb"
                        data-x="0"
                        data-y="335"
                        data-speed="400"
                        data-start="800"
                        data-easing="easeInOutExpo">
                        <a href="{{site.url}}/projects/" class="btn-slider">Our Portfolio
                        </a>
                    </div>
                </li>
                
            </ul>
        </div>
    </section>
    <!-- revolution slider close -->