<script src="{{site.url}}/assets/js/jquery.min.js"></script>
<script src="{{site.url}}/assets/js/jpreLoader.js"></script>
<script src="{{site.url}}/assets/js/bootstrap.min.js"></script>
<script src="{{site.url}}/assets/js/jquery.isotope.min.js"></script>
<script src="{{site.url}}/assets/js/easing.js"></script>
<script src="{{site.url}}/assets/js/jquery.flexslider-min.js"></script>
<script src="{{site.url}}/assets/js/jquery.scrollto.js"></script>
<script src="{{site.url}}/assets/js/owl.carousel.js"></script>
<script src="{{site.url}}/assets/js/jquery.countTo.js"></script>
<script src="{{site.url}}/assets/js/classie.js"></script>
<script src="{{site.url}}/assets/js/video.resize.js"></script>
<script src="{{site.url}}/assets/js/validation.js"></script>
<script src="{{site.url}}/assets/js/wow.min.js"></script>
<script src="{{site.url}}/assets/js/jquery.magnific-popup.min.js"></script>
<script src="{{site.url}}/assets/js/enquire.min.js"></script>
<script src="{{site.url}}/assets/js/designesia.js"></script>
<!--<script src="{{site.url}}/assets/demo/demo.js"></script>-->

<!-- SLIDER REVOLUTION SCRIPTS  -->
<script type="text/javascript" src="{{site.url}}/assets/rs-plugin/js/jquery.themepunch.plugins.min.js"></script>
<script type="text/javascript" src="{{site.url}}/assets/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>