<!-- style switcher
================================================== -->
<script src="js/switcher.js"></script>


<div id="switcher">
    <span class="custom-close"></span>
    <span class="custom-show"></span>

    <span class="sw-title">Header Style</span>
    <select name="switcher" id="de-header-style">
        <option value="opt-1" selected>Solid</option>
        <option value="opt-2">Transparent</option>
    </select>

    <div class="clearfix"></div>

    <span class="sw-title">Header Color</span>
    <select name="switcher" id="de-header-color">
        <option value="opt-1" selected>Dark</option>
        <option value="opt-2">Light</option>
    </select>

    <div class="clearfix"></div>

    <span class="sw-title">Header Layout</span>
    <select name="switcher" id="de-header-layout">
        <option value="opt-1" selected>Simple</option>
        <option value="opt-2">Extended</option>
    </select>

    <div class="clearfix"></div>

    <span class="sw-title">Menu Style</span>
    <select name="switcher" id="de-menu">
        <option value="opt-1" selected>Dotted Separator</option>
        <option value="opt-2">Line Separator</option>
        <option value="opt-3">Circle Separator</option>
        <option value="opt-4">Square Separator</option>
        <option value="opt-5">Plus Separator</option>
        <option value="opt-6">Strip Separator</option>
        <option value="opt-0">No Separator</option>
    </select>

    <div class="clearfix"></div>

    <span class="sw-title">Color :</span>
    <ul id="de-color">
        <li class="bg1"></li>
        <li class="bg2"></li>
        <li class="bg3"></li>
        <li class="bg4"></li>
        <li class="bg5"></li>
        <li class="bg6"></li>
        <li class="bg7"></li>
        <li class="bg8"></li>
        <li class="bg9"></li>
        <li class="bg10"></li>
    </ul>
</div>
