        <!-- subheader -->
        <section id="subheader" data-speed="8" data-type="background">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1>{% if page.subTitle %}{{page.subTitle}} {% else %} {{page.title}} {% endif %}</h1>
                        <ul class="crumb">
                            <li><a href="{{site.url}}/../">Home</a></li>
                            
                            {% if page.subTitle %}
                               <li class="sep">/</li>
                                <li><a href="{{site.url}}/../{{page.title}}">{{page.title}}</a></li>
                                <li class="sep">/</li>
                                <li>{{page.subTitle}}</li>
                                
                            {% else %}
                               <li class="sep">/</li>
                                <li>{{page.title}}</li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!-- subheader close -->
