<section id="section-custom-1" class="text-light">
    <div class="container">
        <div class="row">
            <div class="col-md-6 wow fadeInUp">
                <h2>Welcome, RUNBELOWS</h2>

                <p class="lead">RunBelows, is an internationally known company, that is well – vested in both interior design and exterior services, furniture and construction (RBVL). RunBelows Ventures is built on a solid foundation of knowledge and service that has resonated well with our customers in Ghana and across West Africa sub region for the past 12 years.</p>

                <p>Our distinct attribute as compared to our competitors lies with the exhibition of extraordinary skills and rich experiences in delivering to our clients “nouveau” designs that uniquely identifies them. We believe that beautiful and constructive design is an integral part of a human that cannot be eliminated. RunBelows Ventures serves in the fortune of 50 mediums, small businesses, educational institutions, healthcare companies, and government entities at the local and national levels.</p>

                <a href="{{site.url}}/about/" class="btn-custom">Read more</a>
                <div class="spacer-single"></div>
            </div>

            <div class="col-md-6">
                <img src="{{site.url}}/assets/images/misc/misc_1.png" alt="" class="img-responsive wow fadeInUp" data-wow-duration="1.5s">
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</section>
<!-- section close -->