<section id="section-custom-1" class="text-light">
    <div class="container">
        <div class="row">
            <div class="col-md-6 wow fadeInUp">
                <h2>Welcome, RUNBELOWS</h2>

                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>

                <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>

                <a href="{{site.url}}/about/" class="btn-custom">Read more</a>
                <div class="spacer-single"></div>
            </div>

            <div class="col-md-6">
                <img src="{{site.url}}/assets/images/misc/misc_1.png" alt="" class="img-responsive wow fadeInUp" data-wow-duration="1.5s">
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</section>
<!-- section close -->