<!-- section begin -->
            <section id="section-services" class="">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3 text-center wow fadeInUp">
                            <h1>What We Do</h1>
                            <div class="separator"><span><i class="fa fa-circle"></i></span></div>
                            <div class="spacer-single"></div>
                        </div>

                        <div class="col-md-4 wow fadeInLeft">
                            <div class="spacer-double"></div>
                            <div class="box-icon-simple right">
                                <i class="icon-wallet wow bounceIn" data-wow-delay=".5s"></i>
                                <div class="text">
                                    <h3><span class="id-color">Furnishing</span></h3>
                                    We great and elegant collection of furnishing materials such as carpets, curtains, blinds, chairs, and wallpaper. Live comfortably!
                                </div>
                            </div>
                            <div class="spacer-double"></div>
                            <div class="box-icon-simple right">
                                <i class="icon-pencil wow bounceIn" data-wow-delay=".75s"></i>
                                <div class="text">
                                    <h3><span class="id-color">Furniture</span></h3>
                                    Our contemporary state-of-the-art furniture is remarkably simple and aesthetic; requiring a master of the art or an expert to help you make a choice.
                                </div>
                            </div>
                            <div class="spacer-double"></div>
                            <div class="box-icon-simple right">
                                <i class="icon-pictures wow bounceIn" data-wow-delay="1s"></i>
                                <div class="text">
                                    <h3><span class="id-color">Construction</span></h3>
                                    We deal in both small and large-scale construction activities, which sometimes enquire collaboration efforts from sister companies. We do glazing, burglar proof, PoP Ceiling, Electricals, Plumbing, Painting and even Fountain falls designs.
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 wow fadeInUp" data-wow-delay=".2s" data-wow-duration="1s">
                            <img src="{{sites.url}}/assets/images/misc/deco_3.png" class="img-responsive" alt="">
                        </div>

                        <div class="col-md-4 wow fadeInRight">
                            <div class="spacer-double"></div>
                            <div class="box-icon-simple left">
                                <i class="icon-chat wow bounceIn" data-wow-delay=".6.5s"></i>
                                <div class="text">
                                    <h3><span class="id-color">Wall Décor</span></h3>
                                    Our wall décor or as some refer as wall tattoos, cuts across the use of simple, small wall borders to complex mural painting or coverings that can cover an entire wall.These come as Wallpapers, Wall hangers and Picture Frames.
                                </div>
                            </div>
                            <div class="spacer-double"></div>
                            <div class="box-icon-simple left">
                                <i class="icon-clock wow bounceIn" data-wow-delay=".9s"></i>
                                <div class="text">
                                    <h3><span class="id-color">Household Linen </span></h3>
                                    We sell household linens intended for daily use, such as bed sheets, bedspreads, blankets, towels and shower curtains. These linens can also be used in churches and institutions too. Visit our branches and be exposed to tremendous and luxe household linen. 
                                </div>
                            </div>
                            <div class="spacer-double"></div>
                            <div class="box-icon-simple left">
                                <i class="icon-upload wow bounceIn" data-wow-delay="1.15s"></i>
                                <div class="text">
                                    <h3><span class="id-color">Solar Air Conditioner</span></h3>
                                    Equip your homes and offices with our newest energy saving and environmental approved devices such solar air conditioners.
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </section>
            <!-- section close -->