<!-- section begin -->
<section id="section-side-2" class="side-bg no-padding">
    <div class="image-container col-md-5 col-md-offset-7 pull-right" data-delay="0">
        <div class="background-image"></div>
    </div>
    <div class="container">
        <div class="row">
            <div class="inner-padding">
                <div class="col-md-6 wow fadeInRight" data-wow-delay=".5s">
                    <div class="row">
                        <h2 class="style-2 pull-right">Why Choose Us</h2>
                        <div class="spacer-single"></div>
                       
                        <div class="col-md-6 wow fadeInRight" data-wow-delay=".25s">
                            <div class="box-icon"> <span class="icon wow fadeIn" data-wow-delay=".75s"><i class="id-color icon-trophy"></i></span>
                                <div class="text">
                                    <h3>Quality Works</h3>
                                    <p>We use excellent and quality materials in our dealings. Our team of experts understand the need to adhere to all values surrounding quality. Thus. our materials for building is guaranteed to last for a long period of time.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 wow fadeInRight" data-wow-delay=".5s">
                            <div class="box-icon"> <span class="icon wow fadeIn" data-wow-delay="1s"><i class="id-color icon-wallet"></i></span>
                                <div class="text">
                                    <h3> Affordability</h3>
                                    <p>We deliver best value services that fits your pocket. There is no exception; we show no discrimination. Every client is welcomed to our door step. We serve all persons irrespective of their economic status.
</p>
                                </div>
                            </div>
                        </div>
                        <div class="spacer-single"></div>
                        <div class="col-md-6 wow fadeInRight" data-wow-delay=".75s">
                            <div class="box-icon"> <span class="icon wow fadeIn" data-wow-delay="1.25s"><i class="id-color icon-chat"></i></span>
                                <div class="text">
                                    <h3>Free Consultation</h3>
                                    <p>Our experts believe in having a good communication with our clients. We discuss all the nitty-gritty of the services our clients want us to deliver. This is met with absolute transparency and integrity.</p>
                                </div>
                            </div>
                        </div>
                        
                         <div class="col-md-6 wow fadeInRight" data-wow-delay="0s">
                            <div class="box-icon"> <span class="icon wow fadeIn" data-wow-delay=".5s"><i class="id-color icon-paintbrush" style="color: green !important"></i></span>
                                <div class="text">
                                    <h3>Interior Expertise</h3>
                                    <p>Our teams are made up of experts in diverse range of abilities. They can design and consult; providing you with professional expertise in all related fields of interior decoration.</p>
                                </div>
                            </div>
                        </div>
                        <div class="spacer-single"></div>
                        <div class="col-md-6 wow fadeInRight" data-wow-delay="1s">
                            <div class="box-icon"> <span class="icon wow fadeIn" data-wow-delay="1.5s"><i class="id-color icon-recycle"></i></span>
                                <div class="text">
                                    <h3>Guaranteed Works</h3>
                                    <p>We make sure our projects are a 100% match to what we put on board. We do not deviate from our ideas or concept built on paper. The clients choice is our work.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 wow fadeInRight" data-wow-delay="1.25s">
                            <div class="box-icon"> <span class="icon wow fadeIn" data-wow-delay="1.75s"><i class="id-color icon-envelope"></i></span>
                                <div class="text">
                                    <h3>Support</h3>
                                    <p>We offer supports in the service of building, renovation or remodeling, purchasing and installation. All you need is to dial one of the branch’s number; we are always ready to serve.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</section>
<!-- section close -->