<!-- section begin -->
<section id="section-side-2" class="side-bg no-padding">
    <div class="image-container col-md-5 col-md-offset-7 pull-right" data-delay="0">
        <div class="background-image"></div>
    </div>
    <div class="container">
        <div class="row">
            <div class="inner-padding">
                <div class="col-md-6 wow fadeInRight" data-wow-delay=".5s">
                    <div class="row">
                        <h2 class="style-2 pull-right">Why Choose Us</h2>
                        <div class="spacer-single"></div>
                        <div class="col-md-6 wow fadeInRight" data-wow-delay="0s">
                            <div class="box-icon"> <span class="icon wow fadeIn" data-wow-delay=".5s"><i class="id-color icon-paintbrush" style="color: green !important"></i></span>
                                <div class="text">
                                    <h3>Interior Expertise</h3>
                                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 wow fadeInRight" data-wow-delay=".25s">
                            <div class="box-icon"> <span class="icon wow fadeIn" data-wow-delay=".75s"><i class="id-color icon-trophy"></i></span>
                                <div class="text">
                                    <h3>Awards Winning</h3>
                                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae.</p>
                                </div>
                            </div>
                        </div>
                        <div class="spacer-single"></div>
                        <div class="col-md-6 wow fadeInRight" data-wow-delay=".75s">
                            <div class="box-icon"> <span class="icon wow fadeIn" data-wow-delay="1.25s"><i class="id-color icon-chat"></i></span>
                                <div class="text">
                                    <h3>Free Consultation</h3>
                                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 wow fadeInRight" data-wow-delay=".5s">
                            <div class="box-icon"> <span class="icon wow fadeIn" data-wow-delay="1s"><i class="id-color icon-wallet"></i></span>
                                <div class="text">
                                    <h3>Best Value</h3>
                                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae.</p>
                                </div>
                            </div>
                        </div>
                        <div class="spacer-single"></div>
                        <div class="col-md-6 wow fadeInRight" data-wow-delay="1s">
                            <div class="box-icon"> <span class="icon wow fadeIn" data-wow-delay="1.5s"><i class="id-color icon-recycle"></i></span>
                                <div class="text">
                                    <h3>Guaranteed Works</h3>
                                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 wow fadeInRight" data-wow-delay="1.25s">
                            <div class="box-icon"> <span class="icon wow fadeIn" data-wow-delay="1.75s"><i class="id-color icon-envelope"></i></span>
                                <div class="text">
                                    <h3>24 / 7 Support</h3>
                                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</section>
<!-- section close -->