---
layout: default
---
     <!--header begin -->
    <!--{% include global/header.html %}-->
       <!-- header begin -->
        <!--{% if page.page-id == home %}
            {% include global/header.html %}
        {% endif %}
        {% if page.nav-main %}
            {% include global/header.html %}
        {% endif %}-->
{% if page.id == "home" %}
    {% include global/header.html %}
{% endif %}
    <!-- content begin -->
    <div id="content" class="no-bottom no-top">
        
        {{content}}